@model ShortenedUrlItemModel

<tr>
    <th scope="row">@Model.ID</th>
    <td><a href="@Model.ShortUrl" target="_blank">@Model.ShortUrl</a></td>
    <td><a href="@Model.LongUrl" target="_blank">@Model.LongUrl</a></td>
</tr>
